.product-tour-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 10px 0;
    font-family: Arial, sans-serif;
  }
  
  .content-container {
    display: flex;
    width: 100%;
    flex-grow: 1; /* Takes up all available space */
    font-family: Arial, sans-serif;
  }
  
  .accordion-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .image-viewer {
    width: 70%; /* Adjusted width for the image viewer */
    margin-left: 20px; /* 20px buffer */
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded frame */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image-viewer img {
    width: 100%; /* Adjusted width for the image within the viewer */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded frame */
    object-fit: contain; /* Ensures that the aspect ratio is maintained without distortion */
  }
  
  .banner, .footer {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensures full width */
    font-family: Arial, sans-serif;
  }
  
  .accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  
  .panel.active {
    max-height: 500px; /* Adjusted for content visibility */
  }
  
  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative; /* Needed for absolute positioning of arrows */
    display: flex;
    align-items: center;
    align-items: flex-end; /* Align buttons to the bottom */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .carousel-content {
    flex: 0 0 100%;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #
    z-index: 10;
}
.prev, .next {
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}


/* XS */
@media (max-width: 639px) {
.content-container {
flex-direction: column;
}
.image-viewer {
width: 100%;
margin: 20px 0;
}
}

/* S */
@media (min-width: 640px) and (max-width: 979px) {
/* Add styles for S breakpoint */
}

/* M */
@media (min-width: 980px) and (max-width: 1279px) {
/* Add styles for M breakpoint */
}

/* L */
@media (min-width: 1280px) and (max-width: 1599px) {
/* Add styles for L breakpoint */
}

/* XL */
@media (min-width: 1600px) {
/* Add styles for XL breakpoint */
}
