.accordion-view > div > div:first-child {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer; /* Make it obvious it's clickable */
    transition: background-color 0.3s;
}

.accordion-view > div > div:first-child:hover {
    background-color: #e9e9e9; /* Highlight on hover for better user interaction */
}

.accordion-view > div > div:nth-child(2) {
    padding: 0 10px;
    background-color: #fff;
    border-top: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Smooth transition for expanding and collapsing */
    max-height: 0; /* Start collapsed */
}
